.business_card{
    height: 97px;
    width: 146px;
    cursor: pointer;
}

.dashed{
    border-style: dashed;
    border-right: 0;
    border-bottom: 0;
    width: 350px;
    height: 220px;
}

.border-fix {
    border-bottom: dashed;
    border-right: dashed;
}
