body {
    background: #494949; //#3b4142 bg-dark //#064c51 dark teal
}

.word-wrap {
    word-wrap: break-word;
}

.input-field {
    width: 100%;
}

.dates {
    font-size: 12px;
}
.datepicker {
    width: 100px;
}

.fa-pencil-alt, .fa-trash-alt, .fa-times, .route {
    cursor: pointer;
}

.route {
    background: #292929;
    border-color: white;
}

.left-panel, .right-panel {
    overflow: scroll;
}

.card {
    box-shadow: 10px 10px 10px 5px;
}

.react-datepicker-popper[data-placement^="bottom-start"]{
    left:-30px!important;
}
