body {
    font-family: Helvetica, Arial;
    font-weight: normal;
}

.registration {
    padding-bottom: 136px;
}

.bg-white {
    background: white;
}

.form-row {
    margin: 0;
}

footer {
    background: black;
    color: white;
}
footer a {
    color: white;
}

.stick-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.submit {
    width: 100%;
    padding: 12px;
    color:green;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

.jumbotron {
    margin: 0;
    padding: 4em 0;
}
.img-thumbnail{
    height: 300px;
    width: 500px;
}
.paragrafo{
    text-align: justify;
}

img {
    border: 0;
}