body {
    font-family: 'Roboto', sans-serif;
}

.bg-white {
    background: white;
}

.form-row {
    margin: 0;
}

footer {
    background: black;
    color: white;
}
footer a {
    color: white;
}

.stick-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.submit {
    width: 100%;
    padding: 12px;
    color:green;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

.p1 {
    text-indent: 50px;
}
.p2 {
    text-indent: 50px;
}


.container1 {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #f2f2f2;
}

.first{
    width: 60px;
    height: 50%;
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;

}

.second{
    width: 60px;
    height: 50%;
    width: 150%;
    margin-top: auto;
    margin-bottom: auto;

}

.third{
    width: 60px;
    height: 50%;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;

}

.fourth{
    width: 60px;
    height: 50%;
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;

}

.five{
    width: 60px;
    height: 50%;
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;

}