.page {
    box-shadow: 3px 5px 10px 10px;
    font-family: 'Noto Sans', sans-serif;
}

.title-font {
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
}

.nav-background-img {
    position: absolute;
    z-index: 1;
    height: 400px;
    width: 400px;
}

.project-background-img {
    position: absolute;
    width: 1050px;
    height: 720px;
    z-index: 2;
}

.text-shadow {
    text-shadow: white 1px 1px 7px;
}

.col-5 {
    max-width: 100%!important;
}

.objective-div {
    padding: 0!important;
}

.profile-image {
    width: 250px;
    height: 350px;
}

.navBar {
    height: 30px;
    width: 100%;
    font-size: 30px;
    margin-bottom: 50px;
    padding-left: 35px;
    padding-top: 15px;
    text-align: left;
    font-size: 3em;
    font-family: 'Dancing Script', cursive;
}
.navBar a {
    display: inline;
    color: black;
    margin-right: 30px;
}
.navBar a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.projectsRow {
    margin-top: 100px;
    margin-left: 20px;
    width: 11em;
    border-bottom: 1px solid black;
}

.projects {
    width: 15rem;
    background-color: rgb(214, 214, 214);
    z-index: 2;
}
.projects img{
    height: 145px;
}
.projects card-body{
    height: 150;
}

.imgshadow {
    box-shadow: 5px 5px 5px black;
}